/* MAIN PAGE */

#homebody {
    margin: 0;
    background: url(BG-images/index.png) no-repeat center center fixed;
    background-size: cover;
}
#wc h2 {
    color: #107dac;
    font-size: 25px;
    opacity: 100%
}
#wc p {
    color: #333;
    font-size: 18px;
    line-height: 1.25;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#hometitle {
    font-weight: 100;
}
.boxes {
    display: flex;

}
/* Boxes on the Home Page */
#homebox {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 600px;
    height: 380px;;
    margin-top: 100px;
}
#homeboxtwo {
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    width: 415px;
    height: 415px;
    margin-top: 100px;
}
#homeboxtwo img {
    border-radius: 15px;
    width: 415px;
    height: 415px;
}
#homeboxmain {
    column-rule: solid #ff0000;
    column-count: 3;
    background: white;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 1040px;
}
#homeboxthree {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 1045px;
    margin-bottom: 50px;
}
#homeboxthree p {
    color: #333;
    font-size: 18px;
    line-height: 1.25;
}

#homeboxthree img {
    width: 1024px;
    height: 225.1px;
}
@media screen and (max-width: 1120px) {
    .navbarfixed {
        font-size: xx-large;
        align-items: center;
    }

    #homebox {
        width: 760px;
    }

    #homeboxtwo, #homeboxtwo img{
        margin: 0;
        width: 800px;
        height: 800px;
    }
    #homeboxmain {
        width: 760px;
    }
    #homeboxthree, #homeboxthree img {
        width: 760px;
    }
}

#homenav a,
#tenleynav a,
#rockynav a {
    border-top: 3px solid black; /* Add top border for Home, Tenley, and Rocky */
    border-bottom: 3px solid black; /* Add bottom border for Home, Tenley, and Rocky */
}
/* Customize borders for Mona and Maxwell */
#monanav a {
    border-bottom: 3px solid black; /* Add bottom border for Mona */
}

#maxwellnav a {
    border-top: 3px solid black; /* Add top border for Maxwell */
}

.navbar {
    display: inline;
}
.navbarfixed {
    position:fixed;
    z-index:1;
    width: 100%;
    top: 0;
}
#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
}
.navbar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 102.5px;
}


#homenav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100px;
    border: solid 3px black;
}
#homenav a:hover:not(.active) {
    background-color: #107dac;
}
#homenav {
    background-color: #50b8e7;
}

#monanav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100px;
    border: solid 3px black;
}
#monanav a:hover:not(.active) {
    background-color: #b83838;
}
#monanav {
    background-color: #ff5252;
}
#tenleynav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100px;
    border: solid 3px black;
}
#tenleynav a:hover:not(.active) {
    background-color: #329453;
}
#tenleynav {
    background-color: #5aff91;
}
#maxwellnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100px;
    border: solid 3px black;
}
#maxwellnav a:hover:not(.active) {
    background-color: 	#ffb805;
}
#maxwellnav {
    background-color: #ffe505;
}
#rockynav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 100px;
    border: solid 3px black;
}
#rockynav a:hover:not(.active) {
    background-color: 	#ffb805;
}
#rockynav {
    background-color: #ffe505;
}