nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: lavenderblush;
}
#MobileSide {
    display:none;
}
#sidebar {
    height: 1000px;
    background-color: lavenderblush;
    position: fixed;
    max-width: 300px;
}
.error-message {
    color: red;
    margin-top: 5px;
  }
body {
    margin-bottom: 40px;
    margin-top: 40px;
}
footer {
    padding-top: 5px;
    text-align: center;
    background-color: lavenderblush;
    color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
@media screen and (max-width: 960px) {
    #sidebar {
        display:none
    }
    body {
        margin-bottom: 60px;
        margin-top: 60px;
    }
    #MobileSide {
        display:inline;
    }
}