nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom:1px solid black;
}
#sidebar {
    position: fixed;
    max-width: 300px;
}
body {
    margin-bottom: 50px;
    margin-top: 50px;
}
footer {
    padding-top: 5px;
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}