nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #8b4513;
    border-bottom:1px solid black;
}
body {
    margin-bottom: 50px;
    margin-top: 50px;
}
footer {
    padding: 1px;
    padding-top: 10px;
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}